* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060b23;
}

.form__field {
    /* ! Each form-field must be positioned */
    position: relative;
}

.form__field > .form__field-input {
    /* ! The size of the input can be variable */
    width: 350px;
    height: 60px;

    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
}

/*
    ! Debido a la especificidad, el selector del label solo puede ser de clase

    + para que asi pueda hacerle efecto la clase .label-animation que esta mas debajo

    * Aunque todo esto se soluciona haciendo uso de un ID
*/

.form__field-label {
    /* + Seems like no matter the input size the label remains on the same place */
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.4rem;
    pointer-events: none;
    transition: all .3s 
}

#label-animation {
	top: 0;
	left: 1rem;
    font-size: 1.2rem;
	padding: 0 2px;
	background-color: #060b23;
}


