* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 100px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rating__container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    user-select: none;
}

.element-rating {
    color: rgb(216, 216, 21);   
}