@import url("https://fonts.googleapis.com/css2?family=Borel&family=JetBrains+Mono:wght@100;400&family=Oswald:wght@300;500&display=swap");

:root {
    --primary-color: rgb(126, 24, 207);
    --secondary-color: #000;
    --terceary-color: #fff;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";
    letter-spacing: 1.5px;
}

.body {
    display: flex;
    min-height: 100dvh;

    transition: background 0.3s;
    background: var(--primary-color);
    background: linear-gradient(
        0deg,
        var(--primary-color) 20%,
        rgba(137, 133, 152, 0.8449754901960784) 80%
    );
}

.main-container {
    width: 100%;
    position: relative;
}

.form-container {
    padding: 1.5rem;
    margin: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;

    border-radius: 0.8rem;
    background: linear-gradient(145deg, #fefefe, #d5d5d5);
    box-shadow: 35px 35px 63px #adadad, -35px -35px 63px #ffffff;
    gap: 0.8rem;
    font-weight: 300;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    flex-grow: 1;
}

.form-field {
    position: relative;
    flex-grow: 2;
}

.form-field__input {
    width: 100%;
    padding: 0.4rem 0.8rem;
    height: 3rem;
    border-radius: 0.8rem;
    outline: none !important;
    transition: border 0.5s;
    border: 2px solid var(--primary-color);
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--secondary-color);
}

.form-field__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
    color: var(--secondary-color);
}

.label-animation {
    top: 0;
    left: 0.6rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
    background: #fafafa;
    border: 1px solid var(--primary-color);
}

.select-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.select-container > label {
    margin-inline: 1.5rem;
}

.select-container > i {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    color: var(--primary-color);
}

.button {
    flex-grow: 1;
    border-radius: 0.8rem;
    padding: 0.8rem;
    border: 2px solid transparent;
    background: var(--primary-color);
    color: var(--terceary-color);
    font-size: 1.2rem;
    transition: transform .4s;
}

.button:active {
    transform: translateX(.25rem) translateY(.25rem);
}

.select {
    border-bottom: 2px solid var(--primary-color);
    padding: 0 0.6rem;
    font-weight: 300;
}

option {
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.result {
    opacity: 0;
    transition: opacity 1.5s;
    border-radius: 0.8rem;
    background: linear-gradient(145deg, #fefefe, #dacfcf);
    padding: 1.5rem;
    margin: 3rem 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table > * {
    font-weight: 300;
    text-align: center;
}

thead > * {
    font-weight: 500;
    color: var(--primary-color);
}

.subject-name {
    font-weight: 500;
    color: var(--primary-color);
}

.cell {
    border: 2px solid var(--primary-color);
}

.visible {
    opacity: 1;
}

.colors-container {
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    display: flex;
    gap: 1rem;
    color: var(--terceary-color);
}

.color {
    appearance: none;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.color::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.color::-moz-color-swatch {
    border-radius: 50%;
    border: 7px solid #000000;
}

.reset-button {
    height: 100%;
    padding: 0.2rem 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: none;
    border-radius: 0.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.reset-button:active {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #fc894d;
}


