* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 3rem;
}

.response {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.response__fact, .response__image {
    width: 50%;
    margin: 1rem;
}

.image {
    width: 100%;
}